<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> contacto </title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>

<body>
<h1> bakery </h1>

    <header class="header">

        <div class="logo">


            <img src="../assets/img/logo.png" alt="logo">


        </div>
        
        <nav class="menu">
            <ul>

                <li><a href="../index.html">INICIO<a/></li>
                <li><a href="nosotros.html">NOSOTROS<a/></li>
                <li><a href="recetas.html">RECETAS<a/></li>
                <li><a href="#">CONTACTO<a/></li>


            </ul>

        </nav>


    </header>

    <main>
        <div class="item4">

            <img class="item5" src="../assets/img/envianos-tu-opinion.jpg" alt=" opinion">

        </div>


    
        <form action="#">

            <label for="NOMBRE"> 
                <input type="text" name="NOMBRE" placeholder="NOMBRE">
            </label>

            <br><br>


            <label for="APELLIDO"> 
                <input type=" text" name="APELLIDO" placeholder="APELLIDO">
            </label>

            <br><br>


            <label for="EDAD">
                <input type="number" name="EDAD" placeholder="EDAD">

            </label> <br> <br>

            <div> COMENTARIOS: </div>
            <DIV>
                <textarea name="#" id=" 20 " rows=" 5 "> </textarea>
            </DIV>

            <input type="submit" value="ENVIAR">

            <input type="reset" value="RESET">

        </form>
        
    </main>
    <footer class="footer">




        <h3 class="redes">REDES SOCIALES</h3>
        <div class="footer2">
            <a href="https://www.facebook.com/thatlittlepuff/" target="_blank"><img src="../assets/img/facebook.png"
                    alt="facebook"><a/>

                <a href="https://www.instagram.com/thatlittlepuff" target="_blank"><img
                        src="../assets/img/instagram.png" alt="instagram"><a/>

                    <a href="https://www.youtube.com/Delight_Studios" target="_blank"><img
                            src="../assets/img/youtube.png" alt="youtube"><a/>


        </div>

    </footer>

</body>

</html>