<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Japanesse Bakery </title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>

<body>
    <h1> bakery </h1>

    <header class="header">

        <div class="logo">

            <img src="../assets/img/logo.png" alt="logo">

        </div>
        <nav class="menu">
            <ul>

                <li><a href="../index.html">INICIO<a /></li>
                <li><a href="#">NOSOTROS<a /></li>
                <li><a href="recetas.html">RECETAS<a /></li>
                <li><a href="contacto.html">CONTACTO<a /></li>


            </ul>

        </nav>
    </header>

    <main>

        <section class="textonosotros">
            <p>

                Todo empezó en 1997, cuando pensamos una manera distinta de hacer pasteles.Todo era sobrio en el mundo
                de la
                pasteleria hasta que llegamos con nuestros pasteles.

                Mantenemos a lo largo de nuestra historia el compromiso de hacer productos de excelencia, con la mejor
                materia
                prima, con los mejores procesos y de manera artesanal.

                Nuestros empleados y proveedores son fundamentales para poder llevarle a cada uno de nuestros
                consumidores los
                pasteles mas ricos.

                Todos los años renovamos nuestras certificaciones para ofrecerles los mejores productos a todos nuestros
                consumidores.


            </p>

        </section>

        <section class="fotosmultiplicadas">
            <img class="item3" src="../assets/img/place.jpeg" alt="place">
            <img class="item3" src="../assets/img/countertop.jpeg">
        </section>

    </main>

    <h2 class="redes"> UBICACIÓN </h2>

    <iframe class="iframe1" 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.2983456696493!2d-58.40116188459131!3d-34.62190016596776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccae1e702c639%3A0x96d449a5892bff43!2sSupermercado%20Japon%C3%A9s%20-%20NUEVA%20CASA%20JAPONESA!5e0!3m2!1sen!2sar!4v1642831196385!5m2!1sen!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <footer class="footer">

        <h3 class="redes">REDES SOCIALES</h3>

        <div class="footer2">

            <a href="https://www.facebook.com/thatlittlepuff/" target="_blank"><img src="../assets/img/facebook.png"
                    alt="facebook"><a/>

                <a href="https://www.instagram.com/thatlittlepuff" target="_blank"><img
                        src="../assets/img/instagram.png" alt="instagram"><a/>

                    <a href="https://www.youtube.com/Delight_Studios" target="_blank"><img
                            src="../assets/img/youtube.png" alt="youtube"><a/>


        </div>

    </footer>

</body>

</html>