<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recetas</title>

    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>

<body>  


    <h1> bakery </h1>

    <header class="header">

        <div class="logo">

            <img src="../assets/img/logo.png" alt="logo">

        </div>

     <nav class="menu">

            <ul>

                <li><a href="../index.html">INICIO<a/></li>
                <li><a href="nosotros.html">NOSOTROS<a/></li>
                <li><a href="#">RECETAS<a/></li>
                <li><a href="contacto.html">CONTACTO<a/></li>


            </ul>

        </nav>



    </header>

   <main>

<section class="recetasgeneral">

   <div class="contenedoreceta1">

     <img class="itemreceta" src="../assets/img/group1.png" alt="cakes">
      <img class="itemreceta" src="../assets/img/group2.png" alt="cakes">

      
   </div>

  <div class="contenedoreceta2"> 
       <img class="itemreceta" src="../assets/img/group3.png" alt="cakes
      ">
      <img class="itemreceta" src="../assets/img/group4.png" alt="cakes
      ">
      
  </div>

   <div class="contenedoreceta3"> 
       <img class="itemreceta" src="../assets/img/group5.png" alt="cakes
      ">
      <img class="itemreceta" src="../assets/img/group6.png" alt="cakes
      ">
      
  </div>

   <div class="contenedoreceta4">
       <img class="itemreceta" src="../assets/img/group7.png" alt="cakes
      ">
      <img class="itemreceta" src="../assets/img/group8.png" alt="cakes
      ">
  </div>

</section>
   
  <section class="gridmain"> 

<div class="groupcontainer"> 

      <img class="group" src="../assets/img/group1.png" alt="cakes
      ">
      <img class="group" src="../assets/img/group2.png" alt="cakes
      ">
      <img class="group" src="../assets/img/group3.png" alt="cakes
      ">
      <img class="group" src="../assets/img/group4.png" alt="cakes
      ">
      <img class="group" src="../assets/img/group5.png" alt="cakes
      ">
      <img class="group" src="../assets/img/group6.png" alt="cakes
      ">
      <img class="group" src="../assets/img/group7.png" alt="cakes
      ">
      <img class="group" src="../assets/img/group8.png" alt="cakes
      ">

</div>

</section>


    </main>

    <footer class="footer">

        <h3 class="redes">REDES SOCIALES</h3>

        <div class="footer2">




            <a href="https://www.facebook.com/thatlittlepuff/" target="_blank"><img src="../assets/img/facebook.png"
                    alt="facebook"><a/>
                    

                <a href="https://www.instagram.com/thatlittlepuff" target="_blank"><img
                        src="../assets/img/instagram.png" alt="instagram"><a/>

                    <a href="https://www.youtube.com/Delight_Studios" target="_blank"><img
                            src="../assets/img/youtube.png" alt="youtube"><a/>


        </div>

    </footer>

</div> 
</body>

</html>